body {
    line-height: $line-height-base;
    font-size: $font-size-base;
    font-family: $font-family-base;
}

//------------------------------------------------------------
// 基本タグ

img {
    max-width: 100%;
    height: auto;
}
p {
    margin-bottom: spacer(3);
}
a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

// フォーム関連タグ
label {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    line-height: $form-line-height;
}
input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    height: 1rem;
    width: 2.5rem;
    position: relative;
    top: -1px;

    &:focus {
        box-shadow: none;
    }
}

input,
optgroup,
select,
textarea {
    display: block;
    width: 100%;
    background-color: #fff;

    padding: 0.375rem 0.75rem;
    background-clip: padding-box;
    border: solid 1px $form-border-color;
    border-radius: 0.25rem;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-size: $form-font-size;
    line-height: $form-line-height;

    &:focus {
        border-color: $form-accent-color;
        outline: 0;
        box-shadow: 0 0 0.5rem rgba($form-accent-color, 0.5);
    }
}
input,
textarea {
    &::placeholder {
        color: $black-2; // placeholder
    }
}

//------------------------------------------------------------
// section セクション
// .section-filter .section-bgの設定時に背景フィルタをかけ、テキストを見やすくする

.section {
    position: relative;
    padding: $section-padding 0;

    &:nth-of-type(odd):after,
    &.section-bg-1 {
        background-color: $section-bg-color-1;
    }
    &:nth-of-type(even):after,
    &.section-bg-2 {
        background-color: $section-bg-color-2;
    }

    // 画面幅が md 以下の場合
    @include mq-down(sm) {
        padding: $section-padding-sp 0;
    }

    // セクション見出しの下のメッセージ
    .section-message {
        opacity: 0.6;
        letter-spacing: 1px;
        margin: 2rem 0;
    }
    // 背景画像
    @include block-bg("section-bg");

    // 下層のセクション限定
    &.page-section:first-child {
        margin-top: $header-height-sp;
        @include mq-up(md) {
            margin-top: $header-height-pc;
        }
    }
}

// リンク
.a,
.section a {
    @include text-link($font-color-link, $font-color-link-hover, $font-color-link-active);
}

//------------------------------------------------------------
// heading 見出し

// h2,h3,h4の見出し
$heading-2-font-weight: $heading-font-weight !default;
$heading-2-letter-spacing: $heading-letter-spacing !default;

$heading-3-font-weight: $heading-font-weight !default;
$heading-3-letter-spacing: $heading-letter-spacing !default;

$heading-4-font-weight: $heading-font-weight !default;
$heading-4-letter-spacing: $heading-letter-spacing !default;

.subtitle {
    font-weight: $font-weight-regular;
    font-size: 50%;
    opacity: 0.6;
    margin-top: 0.5rem;
}

.heading-2,
.heading-3,
.heading-4 {
    font-family: $heading-font-family;
    line-height: $heading-line-height;
    &:first-child {
        margin-top: 0; //先頭の見出しのmargin-topは0
    }
}
.heading-2 {
    @if variable-exists(heading-2-font-family) {
        font-family: $heading-2-font-family;
    }
    font-weight: $heading-2-font-weight;
    margin: $heading-2-margin-top 0 $heading-2-margin-bottom;
    font-size: $heading-2-font-size;
    letter-spacing: $heading-2-letter-spacing;
    @include mq-down(sm) {
        font-size: $heading-2-font-size-sp;
    }
}
.heading-3 {
    @if variable-exists(heading-3-font-family) {
        font-family: $heading-3-font-family;
    }
    font-weight: $heading-3-font-weight;
    margin: $heading-3-margin-top 0 $heading-3-margin-bottom;
    font-size: $heading-3-font-size;
    letter-spacing: $heading-3-letter-spacing;
    @include mq-down(sm) {
        font-size: $heading-3-font-size-sp;
    }
}
.heading-4 {
    @if variable-exists(heading-4-font-family) {
        font-family: $heading-4-font-family;
    }
    font-weight: $heading-4-font-weight;
    margin: $heading-4-margin-top 0 $heading-4-margin-bottom;
    font-size: $heading-4-font-size;
    letter-spacing: $heading-4-letter-spacing;
    @include mq-down(sm) {
        font-size: $heading-4-font-size-sp;
    }
}

//------------------------------------------------------------
// img 画像

// 親要素の幅・高さいっぱいにはみ出さないように表示
.img-cover {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

//------------------------------------------------------------
// ul, ol リスト
.ul,
.ol {
    margin: spacer(3) 0;
    padding-left: 2.5rem;
    & > li {
        margin-bottom: spacer(2);
        position: relative;
    }
}
.ul {
    // 箇条書きのリスト
    list-style: none;

    & > li:before {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: color(main);
        top: 8px;
        left: -18px;
    }
}
.ol {
    // 番号つきのリスト
    list-style: decimal;
}

//------------------------------------------------------------
// dl,dt,dd タイトルと説明
.dl {
    margin: spacer(3) 0;

    & > dt {
        margin-bottom: spacer(2);
    }
    & > dd {
        margin-bottom: spacer(4);
    }
}

//------------------------------------------------------------
// btn ボタン

// ボタンの色をまとめてセット
@mixin set-btn-color($color) {
    $color-hover: darken($color, 6%);
    $color-active: darken($color, 8%);
    $color-active-border: darken($color, 10%);

    background-color: $color;
    border-color: $color;
    color: #fff;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;

    &.btn-rounded {
        background-color: #fff;
        color: $color;
        transition: background 0.2s ease-out, color 0.2s ease-out;
    }

    &:hover,
    &.btn-rounded:hover {
        color: #fff;
        background-color: $color-hover;
        border-color: $color-hover;
    }
    &:active,
    &.btn-rounded:active {
        color: #fff;
        background-color: $color-active;
        border-color: $color-active-border;
    }
}

.section .btn {
    @extend .btn;
}
.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    line-height: 1.5;
    font-weight: $font-weight-regular;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: solid 2px;

    width: $btn-block-width;
    max-width: 100%;

    // 幅が狭いボタン
    &.btn-slim {
        width: auto;
    }
    // 幅100%ボタン
    &.btn-w100 {
        width: 100%;
    }

    // ボタンのサイズ
    &.btn-lg {
        padding: 1rem 2rem;
        font-size: $font-size-lg;
        border-radius: 0.3rem;
    }
    &.btn-sm {
        padding: 0.5rem 1rem;
        font-size: $font-size-sm;
        border-radius: 0.2rem;
    }

    // ボタンの色
    &.btn-1 {
        @include set-btn-color($btn-col-1);
    }
    &.btn-2 {
        @include set-btn-color($btn-col-2);
    }
    @if variable-exists(btn-col-3) {
        &.btn-3 {
            @include set-btn-color($btn-col-3);
        }
    }
    @if variable-exists(btn-col-4) {
        &.btn-3 {
            @include set-btn-color($btn-col-4);
        }
    }

    &.btn-cancel {
        @include set-btn-color($btn-col-cancel);
    }
    &[disabled] {
        background-color: $black-2 !important;
        border-color: $black-2 !important;
        color: #fff !important;
    }
}
//------------------------------------------------------------
// アイコン

.icon {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

// アイコンの色
.icon-color-1 {
    background: $icon-color-1;
}
.icon-color-2 {
    background: $icon-color-2;
}
.icon-color-3 {
    background: $icon-color-3;
}

// 円形アイコン
.icon-circle {
    display: inline-block;
    border-radius: 50%;
    flex-shrink: 0;

    @extend .icon-md;
    padding: $icon-size-md * (1 - $icon-fill-rate) / 2;

    &.icon-sm {
        @extend .icon-sm;
        padding: $icon-size-sm * (1 - $icon-fill-rate) / 2;
    }
    &.icon-lg {
        @extend .icon-lg;
        padding: $icon-size-lg * (1 - $icon-fill-rate) / 2;
    }
}

// アイコンのサイズ
.icon-sm {
    width: $icon-size-sm;
    height: $icon-size-sm;
}
.icon-md {
    width: $icon-size-md;
    height: $icon-size-md;
}
.icon-lg {
    width: $icon-size-lg;
    height: $icon-size-lg;
}

//------------------------------------------------------------
// テーブル

// .table-stripe 交互に色つきのテーブル
// .table-border 縦線の入ったテーブル
// .table-hover ホバー効果つきのテーブル
// .table-responsive 左右にスクロール可能なテーブル(PCのみ)

.table {
    width: 100%;
    margin-bottom: spacer(3);

    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-color;
    }
    td,
    th {
        vertical-align: top;
        border-bottom: 1px solid $table-border-color;
        padding: 0.75rem;
    }
    tr:first-of-type {
        td,
        th {
            border-top: 1px solid $table-border-color;
        }
    }

    // サイズ
    &.table-sm {
        td,
        th {
            padding: 0.3rem;
        }
    }
    &.table-lg {
        td,
        th {
            padding: 1rem;
        }
    }
}

.table-stripe {
    tbody tr:nth-of-type(odd) {
        background-color: $table-stripe-color;
    }
}
.table-border {
    td,
    th {
        border: 1px solid $table-border-color;
    }
}
.table-hover {
    tbody tr {
        transition: background-color 0.1s ease-out;
        &:hover {
            background-color: $table-hover-color;
        }
    }
}

@include mq-down(sm) {
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        white-space: nowrap;
    }
}

//------------------------------------------------------------
// カード card

.card {
    border: solid 1px $card-border-color;
    background-color: $card-bg-color;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 100%;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    padding: $card-padding-y $card-padding-x;
    position: relative;
    overflow: hidden;

    .heading-2,
    .heading-3,
    .heading-4 {
        margin-top: 0;
    }

    & > a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: background-color 0.2s ease-out;
    }

    & > a:hover:after {
        background-color: $card-hover-color;
    }
    & > a:last-child {
        margin-top: auto;
        text-decoration: none;
        padding-top: 0.5rem;
        text-align: right;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }
    & > img {
        max-width: none;
        width: calc(100% + #{$card-padding-x * 2});
        position: relative;
        left: -$card-padding-x;
        top: -$card-padding-y;
    }
}

//------------------------------------------------------------
// .banners バナー（section-banners）

.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -$banners-margin-x / 2;

    & > li {
        margin: $banners-margin-y / 2 $banners-margin-x / 2;
    }
    img {
        max-height: 100%;
        height: $banners-height;
    }
    a {
        transition: filter 0.2s ease-out;
        &:hover {
            filter: brightness(1.1) saturate(1.2);
        }
    }
}

//------------------------------------------------------------
// .section-boxes / .boxes 箱型リンク
.boxes {
    display: flex;
    text-decoration: none !important;
    position: relative;
    margin-bottom: 1rem;

    .box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    // テキストのbox
    .box-text {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($box-bg-color, 0.3);
        color: $box-text-color;
        transition: background-color 0.2s ease-out;
    }

    // 見出し
    .box-heading {
        margin: 0;
        text-decoration: none;
        text-align: center;

        .subtitle {
            opacity: 1;
            color: rgba($box-text-color, 0.6);
            margin-top: 0.5rem;
            padding: 0.5rem 1rem 0;
            border-top: solid 2px $box-bar-color;
        }
    }

    // 画像
    .box-image {
        transition: transform 0.2s ease-out;
    }

    // PC
    @include mq-up(md) {
        margin-bottom: 0;

        .box {
            width: 50%;
        }
        .box-text {
            position: relative;
            height: auto;
            background-color: $box-bg-color;
        }

        // hover
        &:hover {
            .box {
                background-color: $box-bg-color-hover;
            }
            .box-image {
                transform: scale(1.05);
            }
        }
    }
}

//------------------------------------------------------------
// .section-flow / .ol-flow フロー

.ol-flow {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    counter-reset: item;
    margin: 0 (-$flow-gutter / 2);

    @include mq-down(sm) {
        margin: 0;
    }

    & > li {
        position: relative;
        color: $flow-color;
        background-color: $flow-bg;
        padding: $flow-padding-y $flow-padding-x $flow-padding-y $flow-padding-left;
        border-radius: $flow-padding-x;
        margin: $flow-gutter / 2;
        width: calc(33.33% - #{$flow-gutter});

        @include mq-down(sm) {
            margin-left: 0;
            margin-right: 0;
        }

        &:before {
            counter-increment: item;
            content: counter(item);
            color: $flow-number-color;
            text-align: center;
            font-size: $font-size-lg;
            font-weight: bold;
            width: $flow-padding-left;
            left: 0;
            position: absolute;
            line-height: $font-size-base * $line-height-base;
        }
        &:after {
            content: "";
            display: block;
            border-right: solid 2px;
            border-bottom: solid 2px;
            width: 1rem;
            height: 1rem;
            margin: auto;
            opacity: 0.5;
            transform: rotate(-45deg);
            position: absolute;
            left: auto;
            right: -1.25rem;
            top: 0;
            bottom: 0;
        }
        &:last-of-type:after {
            display: none;
        }

        @include mq-down(sm) {
            width: 100%;
            &:after {
                transform: rotate(45deg);
                left: 0;
                right: 0;
                top: auto;
                bottom: -1.25rem;
            }
        }
    }
}

//------------------------------------------------------------
// .section-contact / .contacts 問い合わせ誘導

.contacts {
    display: flex;
    justify-content: center;
}
.contact {
    max-width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1rem 3rem;
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        background-color: $contact-main-color;
    }

    &:last-of-type:after {
        // 最後のcontactの区切り線は無し
        display: none;
    }

    .contact-link {
        text-decoration: none;
        display: flex;
        justify-content: center;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            transition: background-color 0.2s ease-out;
        }
        &:hover:after {
            background-color: $contact-hover-color;
        }
    }
    .contact-text {
        font-size: $contact-font-size;
        margin-left: 0.5rem;
        color: $contact-main-color;
        letter-spacing: 1px;
    }
    .contact-time {
        opacity: 0.6;
        font-size: $contact-font-size * 2/3;
        line-height: 1.3;
        text-align: right;
        margin-top: 0.25rem;
    }
}

// section-contact をSPでフッターにくっつける
@include mq-down(sm) {
    .section-contact-sp-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        z-index: 1020;
        height: $section-contact-height-sp;
        overflow: hidden;

        .container {
            max-width: 100%;
            padding: 0;
            margin: 0;
        }
        .section-title,
        .section-message,
        .section-bg {
            display: none;
        }

        // contacts
        .contact {
            width: 50%;
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:nth-of-type(odd) {
                background-color: $contact-main-color;

                .contact-text,
                .contact-time {
                    color: #fff;
                }
            }
            &:nth-of-type(even) {
                background-color: #fff;

                .contact-text,
                .contact-time {
                    color: $contact-main-color;
                }
            }
        }
        .contact-text {
            font-size: $contact-font-size-sp;
            margin-left: 0.25rem;
            letter-spacing: 0;
        }
        .contact-time {
            font-size: $contact-font-size-sp * 3/4;
            text-align: center;
        }
        .icon-circle {
            width: 24px;
            height: 24px;
            padding: 6px;
        }
    }
}

//------------------------------------------------------------
// スライダー
// .section-slider / .swiper-container

.slider {
    position: relative;
    margin: 0 -$gutter / 2;

    // スライド
    .swiper-slide {
        height: $slider-height;
        @include mq-down(sm) {
            height: $slider-height-sp;
        }
    }
    .slide-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .slide-description {
        width: 100%;
        padding: 1rem $gutter / 2;
        background-color: $slider-bg;
        position: absolute;
        bottom: 0;
    }

    // .slider-center 中央を強調
    &.slider-center {
        .swiper-slide {
            opacity: 0.5;
            transform: scale(0.9);
            transform-origin: bottom;
            transition: transform 0.3s ease-out, opacity 0.3s ease-out;

            @include mq-up(lg) {
                transform: scale(0.8);
            }
        }
        .swiper-slide-active {
            opacity: 1;
            transform: scale(1);
        }
    }

    // ボタン
    .swiper-button-next {
        color: $slider-theme-color;
        right: -30px;
        @include mq-down(sm) {
            right: 10px;
        }
    }
    .swiper-button-prev {
        color: $slider-theme-color;
        left: -30px;
        @include mq-down(sm) {
            left: 10px;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: $slider-theme-color;
    }
}
//------------------------------------------------------------
// ギャラリー
// .section-gallery / .gallery

.gallery-thumbs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -$gallery-gap-sp / 2;
    position: relative;

    .thumb {
        height: 0;
        width: calc(#{100% / $gallery-cols} - #{$gallery-gap-sp});
        padding-bottom: calc(#{100% / $gallery-cols} - #{$gallery-gap-sp});
        margin: $gallery-gap-sp / 2;
        cursor: pointer;
        position: relative;
        transition: filter 0.3s ease-in-out;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    @include mq-up(md) {
        margin: -$gallery-gap / 2;
        .thumb {
            width: calc(#{100% / $gallery-cols} - #{$gallery-gap});
            padding-bottom: calc(#{100% / $gallery-cols} - #{$gallery-gap});
            margin: $gallery-gap / 2;
        }
        // サムネイルのhover
        &:hover .thumb {
            filter: brightness(0.6);

            &:hover {
                filter: brightness(1);
            }
        }
    }
}
.gallery-contents {
    .content {
        display: none;
        width: 100%;
        max-width: 800px;
        max-height: calc(100vh - 96px);

        position: fixed;
        z-index: 2000;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        margin: auto;
        padding: 4rem 2rem;
        background-color: #fff;
        overflow: scroll;

        &.open {
            display: block;
        }
        .btn-close {
            display: block;
            width: 48px;
            height: 48px;
            position: absolute;
            right: 0;
            top: 0;

            padding: 12px;
            font-size: 24px;
            line-height: 1;

            color: #000;
            text-align: center;
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.2s ease-out;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
.gallery-ui {
    display: none;
    &.show {
        display: block;
    }

    .gallery-btn-next,
    .gallery-btn-prev {
        position: fixed;
        top: 0;
        z-index: 2001;
        display: flex;
        height: 100%;
        width: 3rem;

        padding: 0.5rem 1rem;
        cursor: pointer;

        color: rgba(#fff, 0.6);
        font-size: 32px;
        align-items: center;
        line-height: 1;
        transition: background-color 0.2s ease-out, color 0.2s ease-out;

        @include mq-down(sm) {
            height: auto;
            top: auto;
            bottom: 0;
        }
        &:hover {
            background-color: rgba(#fff, 0.2);
            color: #fff;
        }
    }
    .gallery-btn-next {
        right: 0;
    }
    .gallery-btn-prev {
        left: 0;
    }
    .gallery-bg {
        position: fixed;
        z-index: 1999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(#000, 0.4);
        backdrop-filter: blur(5px);
    }
}

//------------------------------------------------------------
// お知らせ/投稿一覧
// .section-posts / .posts

.posts {
    .post {
        border-top: solid 1px $posts-border-color;
        padding: 1.5rem 1rem;
        position: relative;

        &:last-of-type {
            border-bottom: solid 1px $posts-border-color;
        }
        .post-title {
            color: $posts-title-color;
        }
        .subtitle {
            color: color(font);
            font-size: 100%;
            margin-top: 0;
            margin-bottom: 0.25rem;
        }
        .post-excerpt {
            opacity: 0.5;
        }
        .post-link,
        .post-link:after {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        .post-link:after {
            content: "";
            z-index: -1;
            transition: background-color 0.2s ease-out;
        }
        .post-link:hover:after {
            background-color: $posts-hover-color;
        }
    }
}

//------------------------------------------------------------
// フォーム form

// Contact Form 7
.wpcf7 {
    label {
        margin-bottom: 0; // pタグがあるので不要
    }
    .wpcf7-form > p {
        margin-bottom: 2rem;
    }
    .screen-reader-response {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    // エラー文
    .wpcf7-not-valid-tip {
        display: block;
        margin-top: 0.25rem;
        color: color(error);
    }
    // フォーム本体（上の見出しとの間にmargin）
    .wpcf7-form-control-wrap {
        display: block;
        margin-top: 0.5rem;
    }
    // チェックボックス、ラジオボタン
    .wpcf7-checkbox,
    .wpcf7-radio {
        display: block;
        border: solid 1px $form-border-color;
        border-radius: 0.25rem;
        padding: 0.5rem;
        background-color: #fff;
    }
    // リストアイテム
    .wpcf7-list-item {
        width: 100%;

        label {
            padding: 0.375rem 0;
            display: block;
            transition: background-color 0.1s ease-out;
            cursor: pointer;

            &:hover {
                background-color: rgba(color(accent), 0.15);
            }
        }
    }

    // 送信ボタン
    .wpcf7-submit {
        @extend .btn;
        @extend .btn-1;
        width: 100%;
    }

    .wpcf7-acceptance [type="checkbox"] {
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 0.75rem;
        margin-right: 1rem;
    }
}

// 任意/必須
.required:before,
.optional:before {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    height: $form-font-size * $form-line-height;
    line-height: $form-font-size * $form-line-height;
    vertical-align: top;
    padding: 0 0.375rem;
    margin-right: 0.25rem;
    border-radius: 0.25rem;
}
.required:before {
    content: "必須";
    background-color: $form-accent-color;
}
.optional:before {
    content: "任意";
    background-color: $black-2;
}
