// footer.php のカスタムスタイル
//------------------------------------------------------------

.footer {
    padding: 4rem 0 0 0;
    color: $footer-font-color;
    position: relative;

    a {
        width: 100%;
        display: block;
        transition: background-color 0.2s ease-out;

        &:hover {
            background-color: $footer-hover-color;
        }
    }

    @include mq-down(sm) {
        flex-direction: column;

        @if ($use-footer-margin) {
            // contactセクション使用時、トップページのみ下マージンをあける
            .home & {
                margin-bottom: $section-contact-height-sp;
            }
        }
    }

    // 背景
    @include block-bg("footer-bg", $footer-bg-color);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;

    .info {
        .info-title,
        .info-address {
            margin-top: 1rem;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: right;

        .menu-item {
            a {
                padding: 0.25rem 2rem;
            }
        }
    }
    @include mq-down(sm) {
        flex-direction: column;
        text-align: center;

        .menu {
            margin-top: 1.5rem;
            text-align: center;

            .menu-item {
                border-top: solid 1px $footer-border-color;

                &:last-of-type {
                    border-bottom: solid 1px $footer-border-color;
                }
                a {
                    padding: 1rem 2rem;
                }
            }
        }
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    color: $footer-bottom-font-color;
    font-size: $font-size-sm;
    padding-bottom: 2rem;

    .menu {
        display: flex;
        order: 1;

        a {
            padding: 0.25rem 0.5rem;
        }
    }

    @include mq-down(sm) {
        flex-direction: column;
        align-items: center;
        .menu {
            order: 0;
        }
    }
}
