// header.php のカスタムスタイル

$content-height-pc: $header-height-pc - $header-padding-y-pc * 2;
$content-height-sp: $header-height-sp - $header-padding-y-sp * 2;
//------------------------------------------------------------
// main

@if ($use-header-margin) {
    #main {
        margin-top: $header-height-sp;

        // pc
        @include mq-up(md) {
            margin-top: $header-height-pc;
        }
    }
}

//------------------------------------------------------------
// ファーストビュー fv

/*
$fv-margin-pc: 0;
$fv-margin-sp: 0;
@if ($use-header-margin) {
    $fv-margin-pc: $fv-margin-pc + $header-height-pc;
    $fv-margin-sp: $fv-margin-sp + $header-height-sp;
}
@if ($use-footer-margin) {
    $fv-margin-sp: $fv-margin-sp + $section-contact-height-sp;
}
*/
$fv-margin-pc: if($use-header-margin, $header-height-pc, 0);
$fv-margin-sp: if($use-header-margin, $header-height-sp, 0) + if($use-footer-margin, $section-contact-height-sp, 0);

$fv-height-sp: if($fv-margin-sp == 0, $fv-height-base-sp, calc(#{$fv-height-base-sp} - #{$fv-margin-sp}));
$fv-height-pc: if($fv-margin-pc == 0, $fv-height-base-pc, calc(#{$fv-height-base-pc} - #{$fv-margin-pc}));

.fv {
    height: $fv-height-sp;
    @if ($use-header-margin == false) {
        padding-top: $header-height-sp;
    }
    @include mq-up(md) {
        height: $fv-height-pc;
        @if ($use-header-margin == false) {
            padding-top: $header-height-pc;
        }
    }

    display: flex;
    align-items: center;
    font-size: 0;
    color: $fv-font-color;

    .fv-title {
        font-weight: bold;
        text-shadow: 0 1px 2px rgba($fv-shadow-color, 0.7), 0 1px 8px rgba($fv-shadow-color, 0.2);
        letter-spacing: 4px;
    }
    .fv-text {
        text-shadow: 0 1px 2px rgba($fv-shadow-color, 0.7);
        letter-spacing: 1px;
        line-height: 2;
        font-size: $font-size-base;

        @if ($fv-text-wrap) {
            @include mq-down(sm) {
                display: inline;
            }
        }
    }

    @include block-bg("fv-bg", rgba(#000, 0.5));
}
.fv {
    .swiper-container-fv {
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: -1;

        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
    .slide-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        height: $fv-height-sp;
        @include mq-up(md) {
            height: $fv-height-pc;
        }
    }
}

//------------------------------------------------------------
// navbar

.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: $header-color-base-sp;
    border-bottom: solid 1px rgba(#000, 0.2);

    padding: $header-padding-y-sp 0;
    height: $header-height-sp;

    // pc
    @include mq-up(md) {
        padding: $header-padding-y-pc 0;
        height: $header-height-pc;
        background-color: $header-color-base-pc;
        backdrop-filter: saturate(160%) blur(20px);
    }

    &:after {
        content: "";
        position: absolute;
        left: -100% + $menu-items-width;
        top: $header-height-sp;
        width: 100vh;
        height: calc(100vh - #{$header-height-sp});
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    // navbar-l (left)
    .navbar-l {
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        display: flex;
        align-items: center;
    }

    .navbar-logo-img {
        object-fit: contain;
        height: $content-height-pc;
        width: $content-height-pc * $logo-aspect-ratio;

        // sp
        @include mq-down(sm) {
            height: $content-height-sp;
            width: $content-height-sp * $logo-aspect-ratio;
        }
    }

    // navbar-r (right)
    .navbar-r {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        position: relative;

        @include mq-up(md) {
            flex-direction: column;
            margin-left: 1.5rem;
        }
    }

    // navbar-description
    .navbar-description {
        text-align: right;
        font-size: 85%;
        opacity: 0.5;

        // SP
        @include mq-down(sm) {
            font-size: 75%;
            text-align: left;
            padding: 0 $header-padding-y-sp;
            display: flex;
            align-items: center;
        }
    }

    .menu-toggler {
        // pc
        @include mq-up(md) {
            display: none;
        }

        border: 0;
        outline: 0;
        height: $content-height-sp;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 12px 0;

        .bar {
            width: 33px;
            height: 2px;
            border-radius: 1px;
            background-color: #333;
            transition: transform 0.2s ease-out;
        }
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        // SP
        @include mq-down(sm) {
            position: fixed;
            z-index: 999;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            top: $header-height-sp;
            right: -100vw;
            width: $menu-items-width;
            background-color: $header-color-base-sp;
            height: calc(100vh - #{$header-height-sp});
            transform: translate3d(0, 0, 0);
            transition: transform 0.3s ease-out;
        }
    }

    .menu-item {
        & > a {
            // SP
            @include mq-down(sm) {
                display: block;
                margin: 0;
                padding: 1rem 2rem;
                border-bottom: solid 1px rgba(#000, 0.3);
            }

            // PC
            @include mq-up(md) {
                position: relative;
                padding: 0 0.5rem;
                margin: 0 0.25rem;

                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $header-color-bar;
                    bottom: -8px;
                    left: 0;
                    transform-origin: center;
                    transition: transform 0.2s ease-out;
                    transform: scale3d(0, 1, 1);
                }

                &:hover:after {
                    transform: scale3d(1, 1, 1);
                }
            }
        }
    }

    // .navbar.open
    // SP
    @include mq-down(sm) {
        &.open {
            // backgrounnd
            &:after {
                opacity: 0.6;
                visibility: visible;
            }

            // navbar-toggler(bar)
            .bar:nth-of-type(1) {
                transform: translateY(12px) rotate(45deg);
            }

            .bar:nth-of-type(2) {
                transform: scale3d(0, 1, 1);
            }

            .bar:nth-of-type(3) {
                transform: translateY(-12px) rotate(-45deg);
            }

            // .menu
            .menu {
                transform: translate3d(-100vw, 0, 0);
            }
        }
    }
}

//------------------------------------------------------------
// jumbotron 下層ページのヘッダータイトル

$jumbotron-font-weight: $heading-font-weight !default;
$jumbotron-letter-spacing: $heading-letter-spacing !default;

.jumbotron {
    position: relative;
    @if ($use-header-margin) {
        height: $jumbotron-height-sp;

        @include mq-up(md) {
            height: $jumbotron-height-pc;
        }
    } @else {
        height: calc(#{$jumbotron-height-sp} + #{$header-height-sp});
        padding-top: $header-height-sp;

        @include mq-up(md) {
            height: calc(#{$jumbotron-height-pc} + #{$header-height-pc});
            padding-top: $header-height-pc;
        }
    }

    .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .jumbotron-title {
        @if variable-exists(jumbotron-font-family) {
            font-family: $jumbotron-font-family;
        }
        font-size: $jumbotron-font-size;
        font-weight: $font-weight-bold;
        letter-spacing: $jumbotron-letter-spacing;
        line-height: $heading-line-height;
        color: $jumbotron-font-color;
        text-shadow: 0 1px 2px rgba($jumbotron-shadow-color, 0.5), 0 1px 8px rgba($jumbotron-shadow-color, 0.15);

        @include mq-down(sm) {
            font-size: $jumbotron-font-size-sp;
        }
    }
    .subtitle {
        @if variable-exists(subtitle-font-family) {
            font-family: $subtitle-font-family;
        }
        letter-spacing: $jumbotron-letter-spacing / 2;
    }

    @include block-bg("jumbotron-bg", $jumbotron-bg-color);
}
