// index.php のカスタムスタイル
// 各セクションごとの設定

//------------------------------------------------------------
// section-stripe 帯

.section-stripe {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: $section-stripe-padding 0;
    @include mq-down(sm) {
        padding: $section-stripe-padding-sp 0;
    }

    // 背景を固定（スクロールに追従しない）
    &.section-stripe-fixed {
        background-attachment: fixed;
    }
}
.stripe-text {
    text-align: center;
    margin: 0;
    line-height: $line-height-base;
}
