//------------------------------------------------------------
// 記事一覧・記事ページ archive / single

.post-title {
    margin-top: 0;
    margin-bottom: 1rem;
}
.post-content {
    margin: 2rem 0;
    line-height: 1.8;
}
.post-category {
    font-size: $font-size-sm;
    display: flex;
    flex-wrap: wrap;

    & a {
        margin-left: 0.5rem;
    }
}
.wp-navi {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
