// ユーティリティクラス定義

// breakpointsごとの設定
$each-breakpoint-styles: map-merge(
    (
        // spaces (margin, padding)
        "margin":
            (
                property: (
                    m: margin,
                    mt: margin-top,
                    mb: margin-bottom,
                    mr: margin-right,
                    ml: margin-left,
                ),
                class: m,
                values:
                    map-merge(
                        $spacers,
                        (
                            auto: auto,
                        )
                    ),
                responsive: true,
            ),
        "margin-x": (
            property: (
                mx: margin-right margin-left,
            ),
            values:
                map-merge(
                    $spacers,
                    (
                        auto: auto,
                    )
                ),
            responsive: true,
        ),
        "margin-y": (
            property: (
                my: margin-top margin-bottom,
            ),
            values:
                map-merge(
                    $spacers,
                    (
                        auto: auto,
                    )
                ),
            responsive: true,
        ),
        "padding": (
            property: (
                p: padding,
                pt: padding-top,
                pb: padding-bottom,
                pr: padding-right,
                pl: padding-left,
            ),
            values: $spacers,
            responsive: true,
        ),
        "padding-x": (
            property: (
                px: padding-top padding-bottom,
            ),
            values: $spacers,
            responsive: true,
        ),
        "padding-y": (
            property: (
                py: padding-right padding-left,
            ),
            values: $spacers,
            responsive: true,
        ),
        // text-align
        "text-align":
            (
                property: (
                    text: text-align,
                ),
                values: right left center,
                responsive: true,
            ),
        // display
        "display":
            (
                property: (
                    d: display,
                ),
                values: none inline inline-block block flex,
                responsive: true,
            )
    ),
    $each-breakpoint-styles
);
@mixin generate-style($style, $infix) {
    // properties, values が string or list の場合、map に変換する
    $properties: map-get($style, property);
    @if type-of($properties) == "string" or type-of(nth($properties, 1)) != "list" {
        $properties: zip($properties, $properties);
    }
    $values: map-get($style, values);
    @if type-of($values) == "string" or type-of(nth($values, 1)) != "list" {
        $values: zip($values, $values);
    }

    //@debug nth(nth($properties,1),1);
    @each $key, $value in $values {
        @each $class-pre, $property in $properties {
            //$debug: "  .#{$class-pre}#{$infix}-#{$key} { ";

            .#{$class-pre}#{$infix}-#{$key} {
                @each $p in $property {
                    //$debug: $debug + "#{$p}: #{$value}, ";
                    #{$p}: $value !important;
                }
            }
            //@debug $debug + " }";
        }
    }
}
// breakpointsごとの設定
@each $breakpoint in map-keys($grid-breakpoints) {
    @include mq-up($breakpoint) {
        // $infix: (none), -xs, -sm, -md, -lg
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $key, $style in $each-breakpoint-styles {
            @if (map-get($style, responsive)) {
                @include generate-style($style, $infix);
            }
        }
    }
}

// justify-content
@each $key, $value in (start: flex-start, end: flex-end, center: center, between: space-between, around: space-around, evenly: space-evenly) {
    .justify-#{$key} {
        justify-content: $value !important;
    }
}

// align-items
@each $key, $value in (start: flex-start, end: flex-end, center: center, baseline: baseline, stretch: stretch) {
    .justify-#{$key} {
        align-items: $value !important;
    }
}
// align-content
@each $key, $value in (start: flex-start, end: flex-end, center: center, between: space-between, around: space-around, stretch: stretch) {
    .justify-#{$key} {
        align-items: $value !important;
    }
}
// align-self
@each $key, $value in (auto: auto, start: flex-start, end: flex-end, center: center, baseline: baseline, stretch: stretch) {
    .justify-#{$key} {
        align-items: $value !important;
    }
}
// flex-grow, flex-shrink
@each $value in (0, 1) {
    .flex-grow-#{$value} {
        flex-grow: $value !important;
    }
    .flex-shrink-#{$value} {
        flex-shrink: $value !important;
    }
}
// flex-wrap
@each $value in (wrap, nowrap) {
    .flex-#{$value} {
        flex-wrap: $value !important;
    }
}
// flex-direction
@each $value in (column, row) {
    .flex-#{$value} {
        flex-direction: $value !important;
    }
}

// positions
@each $position in (static, relative, absolute, fixed, sticky) {
    .position-#{$position} {
        position: $position !important;
    }
}

// colors
@each $key, $color in $colors {
    .text-#{"" + $key} {
        color: $color !important;
    }
    .bg-#{"" + $key} {
        background-color: $color !important;
    }
}

// font-size
.text-small {
    font-size: $font-size-sm !important;
}
.text-large {
    font-size: $font-size-lg !important;
}
// テキストを折り返さない
.text-nowrap {
    white-space: nowrap !important;
}
