// 変数設定

//------------------------------------------------------------
// Colors 色

// グレースケール
$black-1: #f0f0f0; // 240
$black-2: #b8b8b8; // 184
$black-3: #808080; // 128
$black-4: #484848; // 72
$black-5: #101010; // 16

// サイト固有色。自由に定義可能
/* 使用例
.class {
    color: color('font');
    background-color: rgba(color('base'), .5);
}
*/
$colors: (
    // 背景色 ※
    base: #fff,
    // アクセントカラー ※
    accent: #769728,
    // メインカラー ※
    main: #40220f,
    // 補足カラー（メインカラーの亜種）
    main-2: #e8e0d6,
    // 基本フォント色 ※
    font: #222,
    // 反転背景でのフォント色 ※
    fontDark: #fff,
    // 警告色 ※
    error: #ea1906,
    // グレースケール
    black-1: $black-1,
    black-2: $black-2,
    black-3: $black-3,
    black-4: $black-4,
    black-5: $black-5
) !default;

// テキストリンクの色
$font-color-link: color(accent);
$font-color-link-hover: lighten($font-color-link, 10%);
$font-color-link-active: darken($font-color-link, 5%);

// ボーダーの色
$border-color: $black-2;

//------------------------------------------------------------
// breakpoints ブレークポイント
$grid-breakpoints: (
    xs: 0,
    // SP
    sm: 520px,
    // SP横向き, ファブレット
    md: 780px,
    // タブレット, PC狭め
    lg: 1200px,
    // PC
) !default;

// container の最大幅
$container-max-widths: (
    sm: 544px,
    md: 720px,
    lg: 1140px,
) !default;

// grid の間隔
$gutter: 1.5rem;

// カラムの数
$columns: 12;

// breakpoint-styles variable
$each-breakpoint-styles: () !default;

//------------------------------------------------------------
// Font フォント

// フォント定義（基本フォント, 等幅フォント, 明朝フォント）
$font-family-base: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-mincho: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// 追加フォントの定義例
/*
@font-face {
    font-family: "Cormorant Garamond";
    src: url("font/CormorantGaramond-Regular.ttf");
}
$heading-font-family: "Cormorant Garamond", $font-family-mincho;
*/

// font-size
$font-size-base: 16px;
$font-size-lg: $font-size-base * 1.3;
$font-size-sm: $font-size-base * 0.85;

// font-weight
$font-weight-regular: 400;
$font-weight-bold: 700;

// line-height
$line-height-base: 1.6;
$line-height-lg: 2;
$line-height-sm: 1.3;

//------------------------------------------------------------
// spacers 間隔

/* 使用例
.class {
    margin-bottom: spacer(2); // .5rem;
}
*/
$spacers: (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    // base spacer
    4: 2rem,
    5: 4rem,
) !default;

//------------------------------------------------------------
// headings 見出し
// heading-2: 大見出し, heading-3: 中見出し, heading-4: 小見出し

// 見出しのデフォルト値
$heading-font-family: $font-family-base;
$heading-font-weight: $font-weight-regular;
$heading-line-height: 1.3;
$heading-letter-spacing: 0;

// 大見出し
$heading-2-font-size: $font-size-base * 2.5;
$heading-2-font-size-sp: $font-size-base * 2;
$heading-2-margin-top: 4rem;
$heading-2-margin-bottom: 2rem;
$heading-2-letter-spacing: 3px;
// $heading-2-font-family: $font-family-mincho;
// $heading-2-font-weight: $font-weight-bold;

// 中見出し
$heading-3-font-size: $font-size-base * 1.75;
$heading-3-font-size-sp: $font-size-base * 1.35;
$heading-3-margin-top: 3rem;
$heading-3-margin-bottom: 2rem;
// $heading-3-letter-spacing: 1px;
// $heading-3-font-family: $font-family-mincho;
// $heading-3-font-weight: $font-weight-bold;

// 小見出し
$heading-4-font-size: $font-size-base * 1;
$heading-4-font-size-sp: $font-size-base * 1;
$heading-4-margin-top: 2rem;
$heading-4-margin-bottom: 1rem;
// $heading-4-letter-spacing: 1px;
// $heading-4-font-family: $font-family-mincho;
$heading-4-font-weight: $font-weight-bold;

//------------------------------------------------------------
// jumbotron 下層ページの見出し
$jumbotron-height-pc: 300px;
$jumbotron-height-sp: 300px;
$jumbotron-bg-color: rgba(color(main), 0.5); // jumbotronの画像が未設定の場合の背景色

$jumbotron-font-color: #fff;
$jumbotron-shadow-color: #000;
$jumbotron-font-size: $font-size-base * 2.5;
$jumbotron-font-size-sp: $font-size-base * 2;
$jumbotron-letter-spacing: 3px;
$jumbotron-font-weight: $font-weight-bold;

// $jumbotron-font-family: $font-family-mincho;
// $subtitle-font-family: $font-family-mincho;

//------------------------------------------------------------
// header/footer ヘッダー・フッター

// header ヘッダー
$header-height-pc: 100px;
$header-height-sp: 70px;
$header-padding-y-pc: 16px;
$header-padding-y-sp: 10px;
$logo-aspect-ratio: 2.6; // ロゴの最大アスペクト比

$menu-items-width: 85%; // spメニューの幅

$header-color-base-pc: rgba(color("base"), 0.5);
$header-color-base-sp: rgba(color("base"), 0.9);
$header-color-font: color("font");
$header-color-bar: color("main");

$use-header-margin: false; // ヘッダー上にマージンをあけるか？
$use-footer-margin: true; // フッター下にマージンをあけるか？

// loader ローディング画面
$loader-bg-color: color(main);
$loader-font-color: #fff;

// fv ファーストビュー
$fv-height-base-pc: 100vh; // PCのFV高さ（基本値）
$fv-height-base-sp: 100vh; // SPのFV高さ（基本値）
$fv-text-wrap: true; // FVのキャッチコピーをSPで改行する
$fv-font-color: #fff;
$fv-shadow-color: #000;

// footer フッター
$footer-bg-color: color(main);
$footer-font-color: rgba(#fff, 0.8);
$footer-bottom-font-color: rgba(#fff, 0.6);
$footer-hover-color: rgba(lighten($footer-bg-color, 10%), 0.8);
$footer-border-color: rgba(#fff, 0.5);

//------------------------------------------------------------
// components 共通パーツ

// table テーブル
$table-border-color: $border-color;
$table-stripe-color: rgba(#000, 0.05);
$table-hover-color: rgba(#000, 0.1);

// form フォーム
$form-border-color: $border-color;
$form-font-size: 1rem;
$form-line-height: 1.5;
$form-accent-color: color(accent);

// btn ボタン
// ボタン1〜4, キャンセルボタン
// 使用例: class="btn btn-1"
$btn-col-1: color(accent);
$btn-col-2: color(main);
// $btn-col-3: color(main);
// $btn-col-4: color(main);
$btn-col-cancel: $black-3;

$btn-block-width: 350px;

// icon アイコン
$icon-color-1: color(main);
$icon-color-2: color(accent);
$icon-color-3: $black-5;

$icon-size-sm: 24px;
$icon-size-md: 40px;
$icon-size-lg: 80px;

$icon-fill-rate: 0.5; //アイコン部分が占める割合

//------------------------------------------------------------
// sections セクション

// 共通：セクションの背景（奇数、偶数）
$section-bg-color-1: #fff;
$section-bg-color-2: color(main-2);

// セクションの上下padding
$section-padding: 6rem;
$section-padding-sp: 4rem;

// 帯セクションの上下padding
$section-stripe-padding: 4rem;
$section-stripe-padding-sp: 3rem;

// カード (section-cards)
$card-padding-x: 1.5rem;
$card-padding-y: 1.5rem;
$card-border-color: $border-color;
$card-bg-color: #fff;
$card-hover-color: rgba(#000, 0.075);

// フロー (section-flow)
$flow-bg: $black-1;
$flow-color: color(font);
$flow-number-color: color(main);

$flow-gutter: 2rem;
$flow-padding-x: 1rem;
$flow-padding-y: 1.5rem;
$flow-padding-left: 3rem;

// バナー (section-banners)
$banners-height: 80px;
$banners-margin-x: 1rem;
$banners-margin-y: 2rem;

// ボックス (section-boxes)
$box-bg-color: color(main);
$box-bg-color-hover: lighten(color(main), 10%);
$box-text-color: #fff;
$box-bar-color: #fff;

// 問い合わせ誘導 .section-contact / .contacts
$contact-main-color: color(main);
$contact-font-size: 24px;
$contact-font-size-sp: 15px;
$contact-hover-color: rgba($contact-main-color, 0.15);
$section-contact-height-sp: 72px; // SPで画面下部に貼り付ける際の高さ

// ギャラリー .section-gallery / .gallery
$gallery-cols: 3;
$gallery-gap: 1.5rem;
$gallery-gap-sp: 0.5rem;

// スライダー .section-slider / .swiper-container
$slider-theme-color: color(main);
$slider-bg: rgba(#fff, 0.8);
$slider-height: 500px;
$slider-height-sp: 375px;

// お知らせ .section-posts / .posts
$posts-border-color: $border-color;
$posts-title-color: color(main);
$posts-hover-color: rgba(color(main), 0.2);
