@charset "utf-8";

@import "functions"; // 関数定義。メディアクエリ等
@import "variables"; // 変数設定。テーマカラー等
@import "reset"; // css reset

// サイトごとのカスタムスタイル
@import "base"; // 基本スタイル設定

// 共通コンポーネント（ボタンやパーツの使い回しなど）
@import "components/grid"; // グリッドシステム

// ページごとのカスタムスタイル
@import "page_archive"; // archive.php, single.php
//@import "page_name"; // page_name.php
@import "header"; // header.php
@import "footer"; // footer.php
@import "index"; // index.php

// ユーティリティクラス
@import "utilities";

/*************************************************************************************

    ⭐起動コマンド
    sass scss/style.scss:style.css --style compressed -w

    ⭐メディアクエリ
    @include mq-up(md) { ... }
    @include mq-down(md) { ... }

    設定により、コンテナ（.conntainer）の幅が変わります

    ⭐ユーティリティクラス
    * <bp>について
    xs, sm, md, lg が入る
    そのbreakpoint以上の場合にスタイル有効
    <bp>を未設定の場合、画面幅に関わらずスタイル有効

    * margin, padding
    https://getbootstrap.jp/docs/4.5/utilities/spacing/

    margin:         m-<bp>-<size>
    margin-bottom:  mb-<bp>-<size>
    margin-top:     mt-<bp>-<size>
    margin-right:   mr-<bp>-<size>
    margin-left:    ml-<bp>-<size>

    padding:         p-<bp>-<size>
    padding-bottom:  pb-<bp>-<size>
    padding-top:     pt-<bp>-<size>
    padding-right:   pr-<bp>-<size>
    padding-left:    pl-<bp>-<size>

    margin, paddingを設定。<bp>をつけると、特定Breakpoint以上の場合のみ有効
    <size>には1~5の整数が入り、スペースの大きさを規定（variablesにて定義）

    例)
    p-1: padding 1段階 (.25rem)
    mt-md-2: md 以上の場合、margin-top 2段階 (.5rem)
    px-sm-3: sm 以上の場合、padding-top, padding-bottom 3段階 (1rem)

    * text-align
    text-center, text-right, text-left
    text-<bp>-center, ...
    テキスト揃え。<bp>をつけると、特定Breakpoint以上の場合のみ有効

    * display
    d-none, d-inline, d-inline-block, d-block, d-flex
    d-<bp>-none, ...
    display設定。<bp>をつけると、特定Breakpoint以上の場合のみ有効

    * position
    position-static, position-relative, position-absolute, position-fixed, position-sticky

    * color
    bg-base, bg-sub, bg-main
    font-base, font-sub, font-main
    色設定はvarablesにて定義

    * font-size
    text-small, text-large
    フォントサイズの縮小拡大

    ⭐グリッドシステム
    https://getbootstrap.jp/docs/4.5/layout/grid/

    .row の直下に .col クラスを入れることで横並びレイアウトを作れる。
    また、.col-<bp>-<size> と指定することで、
    ・rowを12等分した場合の幅
    ・そのbreakpoint以上の場合に有効
    と設定することができる。

    * 3列横並び（均等）
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    * 幅が1:2:3の横並び
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6"></div>
        <div class="col-3"></div>
    </div>

    * md 未満の場合は横幅いっぱいの上下2段
    * md 以上の場合は左右レイアウト
    <div class="row">
        <div class="col-12 col-md-6"></div>
        <div class="col-12 col-md-6"></div>
    </div>

    * md 未満の場合は横一杯
    * md 以上の場合は左半分にスペースを空け、右半分に配置
    <div class="row">
        <div class="offset-md-6 col-12 col-md-6"></div>
    </div>

*************************************************************************************/
